body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

button {
  background-color: #5b6c5b;
  pointer-events: all;
  transition-duration: 0.2s;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #3e8e41;
}

#score {
  min-width: 120px;
  font-size: 16px;
  color: #333;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
  margin: 10px;
}

[data-score-total]:after {
  content: attr(data-score-total);
  font-weight: bold;
}
[data-score-correct]:after {
  content: attr(data-score-correct);
  font-weight: bold;
}
[data-score-wrong]:after {
  content: attr(data-score-wrong);
  font-weight: bold;
}

#dialog {
  z-index: 999999;
  padding: 0;
  border: 0;
}

/* Styles moved from inline in main.ts */
.dialog-overlay {
  position: fixed;
  inset: 0;
  background-color: #10281c;
  opacity: 0.5;
}

.dialog-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  color: white;
  background-color: #37803a;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: min(90%, 800px);
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.dialog-text {
  display: flex;
  flex-direction: column;
  outline: 0;
  flex: 1;
  overflow: auto;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: center;
}

.dialog-form {
  display: flex;
  justify-content: flex-end;
}

.dialog-button {
  background-color: #4caf50;
  transition-duration: 0.2s;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  color: white;
}

.score-header {
  margin: 0;
}

.line-height-1-5 {
  line-height: 1.5;
}
